.rond {
  width: 300px;
  height: 300px;
  position: absolute;
  background: rgb(180,189,235);
  background: radial-gradient(circle, rgba(180,189,235,1) 0%, rgba(79,170,237,1) 100%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 230px), calc(-50% - 120px));
}

.welcome {
  @apply m-auto w-fit top-1/3 relative p-4 rounded-lg;
  background-color: rgba(255, 255, 255, 0.363);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  h1 {
    @apply text-4xl;
  }
}